/elpa/
/elpaca/
/org-roam.db
/#config.org#
/#init.el#
/#test.js#
/#test.py#
/.cache/
/.lsp-session-v1
/.tutor/
/auto-save-list/
/codeium/
/config.el
/eln-cache/
/history
/projectile-bookmarks.eld
/recentf
/tramp
/transient/
/elfeed/
/nov-places
/url/
/projects
/.dap-breakpoints
/no
/Codeium/
/.images/
/*.sqlite
/dap-breakpoints
/devdocs/
/bookmarks
/vimish-fold/
/.org-id-locations
/ellama-sessions/
